<html>
	<head>
		<title>Leave Management System</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
	 <head>
   
   <link href="https://fonts.googleapis.com/css?family=Bubbler+One|Pacifico" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
   <link rel="stylesheet" href="css/default.css"/>
   <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href=http:"path/to/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <header>
      <div class="container">
        <div id="branding">
        <p style="color:#FBFCFC;font-size:2em";><b>LEAVE MANAGEMENT SYSTEM</b></p>
        </div>
        <nav>
          <ul>
            <li><a href="#">Home</a></li>
	   <li><a href="/users/login" class="button special" style="position:relative;margin-top:-4px";>Log In</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="containerShow">
        <h1>LEAVE MANAGEMENT</h1>
        <h1 class="line2showcase">SYSTEM</h1>
        
        <p>The leave managemnt application is designed to simplify the process for all employee involved, it was built by considering the various greivances of employee and aims to target those best.</p>
      </div>
    </section>
    <section id="boxes">
      <div class="container">
        <div class="box">
      <i class="fa fa-print" aria-hidden="true" style="font-size:100px; color: #4e89a4;"></i>
          <h3>Paperless</h3>
          <p>Removes all hassle of dealing with papers, plus its environment friendly too!</p>
        </div>
        <div class="box">
          <i class="fa fa-newspaper-o" aria-hidden="true" style="font-size:100px; color:#4e89a4;"></i>
          <h3>Efficient data</h3>
          <p>The online portal puts powerful data tools at your hands to serve you better.</p>
        </div>
        <div class="box">
          <i class="fa fa-desktop" aria-hidden="true" style="font-size:100px; color:#4e89a4;"></i>
          <h3>Transparency</h3>
          <p>The application process is transparent and ensures that all involved users get a fair outlook of the process</p>
        </div>
      </div>
    </section>
 <!--
 <section id="newsletter">
      <div class="container">
        <h1>Message Us!</h1>
        <p class="newsMessage">We would love to hear from you!</p>
        <form>
          <input type="email" placeholder="Enter Email...">
          <br>
          <button type="submit" class="button_1" style="border-radius:15px";>Subscribe</button>
        </form>
        
        <p class="newsAddress">LNM INSTITUTE OF INFORMATION TECHNOLOGY
 </br>Phone:+91-9012356971</p>
      </div>
    </section>
-->
<!-- testimonial area 
--> <footer>
      <p>Leave Management App, Copyright &copy; 2017</p>
    </footer>
  </body>
</html>
