          <div class="inner cover">
            <h1 class="cover-heading">Welcome to the company Leave Management System.</h1>
            <p class="lead">
            The system is built around the user, you. The system is a great tool for everyone in the organization. It aims to make the whole process of leaves a hassle free experience for everyone involved.  
            <p class="lead">
              <a href="/users/login" class="btn btn-lg btn-default">Log In</a>
            </p>
          </div>

