{{#if errors}}
      {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
      {{/each}}
{{/if}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="panel panel-default">
  <div class="panel-heading">Register</div>
  <div class="panel-body">
    <p>The username and password are both case-sensitive</p>
  </div>
  <form method="post" action="/users/register">
    <ul class="list-group">
      <li class="list-group-item">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" placeholder="Name" name="name" required>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" placeholder="Username" name="username" required>
        </div>
      </li>
      <li class="list-group-item">  
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control userin" placeholder="Email" name="email" required>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password" required>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label>Confirm Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password2" required>
        </div>
      </li>
      <li class="list-group-item">
        <div class="form-group">
          <label>User Class</label>
          <select type="text" class="form-control" name="user_level" placeholder="User Level">
            <option value="employee">Employee</option>
            <option value="super">Supervisor</option>
            <option value="admin">Administrator</option>
          </select>
        </div>
      </li>
      <li class="list-group-item">
        <button type="submit" class="btn btn-default">Submit</button>
      </li>
    </ul>
  </form>
</div>
<script type="text/javascript">
  $(function() {
    $('input[name="email"]').on('click', function () {
      var unamecheck = $("input[name='username']").val();
      console.log(unamecheck);
      $.ajax({
        type: "POST",
        data: {ucheck : unamecheck},
        url: "/users/namecheck/",
        datatype: "json",
        success: function (response) {
          console.log(response);
          if (response.status == 202) {
            $("input").change(function() {
              $('input[name="username"]').css("border", "5px solid red");
            }).trigger("change");      
          } else if (response.status == 200) {
            $("input").change(function() {
              $('input[name="username"]').css("border", "5px solid green");
            }).trigger("change");      
          } 
        },
      });
    });
  });
</script>
